.top-content{
    height: 50px;
    background-color: rgb(190, 190, 255);
    display: flex;
}
.body-content{
    text-align: center;
}

.body-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 50px;
    margin-top: 50px;

}
.body-content .input-data{
    width: 100%;
}
.body-content .input-data input{
    /* margin-top: 10px; */
    border-radius: 5px;
    width: 75%;
    border: 1px solid black;
    height: 30px;
    padding: 0px 10px;
}
.body-content button{
    margin-top: 20px;
    width: 75%;
}

.body-content .input-password, .body-content .input-confirmpassword {
    position: relative;
}
.body-content .input-password img, .body-content .input-confirmpassword img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}