@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu-Regular.ttf");
}

body{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.floating-action-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(190, 190, 255);
}

